*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#FCDEBE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#5a5550;
    font-weight: normal;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

h3{
    color:#5a5550;
    font-weight: normal;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}



h4{
    color:#5a5550;
    font-weight: normal;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 4px;
    text-align: center;
    
}

.RedesSociales {
    text-align: center; 
}

.CVLourdes {
    color:#5a5550;
    font-weight: normal;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    text-indent: 25px;
    background-color:gainsboro;
    overflow: auto;
    border-style: solid;
    border-color: black;
}

.CVLourdes img {
    float: left;
    margin-right: 10px;
}

.CVLourdes p{
    margin: 10px;
}

    




.formulario {
    max-width: 400px;
    margin: auto;
    order: 2px solid #ac4141; /* Establecer un borde de 2 píxeles de ancho y color gris claro */
    padding: 20px;
  }
  

label, input, textarea {
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
  }


.linkTitulo{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


  .FormularioSend {
    width: 300px;
    height: 25px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
  }


.ContactoWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
}


/*------------------Acá empieza lo nuevo------------------*/

main{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-between;
}

/*-------------------------------------------TODO ESTO CORRESPONDE AL HEADER-------------------------------------------*/
.header{
    background-color: #FCDEBE;
}
.header__titulo{
    text-align: center;
    max-resolution: 10px;
    text-decoration: none;
    color: black;


}

.header__subtitulo{
    text-align: center;
    max-resolution: 10px;

}

.header__logo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
  }
  
  .header__logo img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
.header__nav{
    width: 98%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    
}


.header__menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__item{
    padding: 10px;    
}

.header__link{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
}

.header__link:hover{
    background-color: black;
    color: #FCDEBE;
    border-radius: 20px;
}
/*--------------------------------------------------FINALIZA EL HEADER-------------------------------------------------*/

/*--------------------------------------------TODO ESTO CORRESPONDE A IMAGEN--------------------------------------------*/

img:hover {
    filter: opacity(40%)
    contrast(90%)   
}

.contenedor-imagen {
    position: relative; /* Establece el contenedor como posición relativa */
    display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
  }

.texto-encima {
    position: absolute; /* Establece el texto como posición absoluta */
    top: 50%; /* Mueve el texto hacia el 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto hacia el 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Centra el texto en el centro del contenedor */
    opacity: 0; /* Establece la opacidad en cero para que no se muestre inicialmente */
    transition: opacity 0.5s ease; /* Agrega una transición suave */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(100, 98, 98);
}

    .contenedor-imagen:hover .texto-encima {
        opacity: 1; /* Establece la opacidad en 1 para que se muestre cuando se hace hover en el contenedor */
      }


/*---------------------------------------------------FINALIZA IMAGEN---------------------------------------------------*/

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.10fr 0.25fr 0.25fr 0.25fr 0.10fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "car1 car2 car3"
      "car4 car5 car6"
      "car7 car8 car9"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .car1 { grid-area: car1; }
  
  .car2 { grid-area: car2; }
  
  .car3 { grid-area: car3; }
  
  .car4 { grid-area: car4; }
  
  .car5 { grid-area: car5; }
  
  .car6 { grid-area: car6; }
  
  .car7 { grid-area: car7; }
  
  .car8 { grid-area: car8; }
  
  .car9 { grid-area: car9; }
  
  .footer { grid-area: footer; }

  .footer{
    background-color: rgb(163, 159, 159);
    text-align: center;
  }

 