*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.10fr 0.25fr 0.25fr 0.25fr 0.10fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "car1 car2 car3"
      "car4 car5 car6"
      "car7 car8 car9"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .car1 { grid-area: car1; }
  
  .car2 { grid-area: car2; }
  
  .car3 { grid-area: car3; }
  
  .car4 { grid-area: car4; }
  
  .car5 { grid-area: car5; }
  
  .car6 { grid-area: car6; }
  
  .car7 { grid-area: car7; }
  
  .car8 { grid-area: car8; }
  
  .car9 { grid-area: car9; }
  
  .footer { grid-area: footer; }
  
  body{
    background-color:#FCDEBE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#5a5550;
    font-weight: normal;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

h3{
    color:#5a5550;
    font-weight: normal;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

footer{
    background-color: #aaa89d;
    margin: .5px;
    height: 57px;
}

h4{
    color:#5a5550;
    font-weight: normal;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 4px;
    
}

.RedesSociales {
    text-align: center; 
}

.linkTitulo{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.ContactoWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

main{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-between;
}

.header{
    background-color: #FCDEBE;
}
.header__titulo{
    text-align: center;
    max-resolution: 10px;
    text-decoration: none;
    color: black;


}

.header__subtitulo{
    text-align: center;
    max-resolution: 10px;

}

.header__logo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
  }
  
  
.header__nav{
    width: 98%;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    
}

.header__menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__item{
    padding: 10px;    
}

.header__link{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
}

.header__link:hover{
    background-color: black;
    color: #FCDEBE;
    border-radius: 20px;
}

img:hover {
    filter: opacity(40%)
    contrast(90%)   
}

.contenedor-imagen {
    position: relative; /* Establece el contenedor como posición relativa */
    display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
  }

.texto-encima {
    position: absolute; /* Establece el texto como posición absoluta */
    top: 50%; /* Mueve el texto hacia el 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto hacia el 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Centra el texto en el centro del contenedor */
    opacity: 0; /* Establece la opacidad en cero para que no se muestre inicialmente */
    transition: opacity 0.5s ease; /* Agrega una transición suave */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(100, 98, 98);
}

    .contenedor-imagen:hover .texto-encima {
        opacity: 1; /* Establece la opacidad en 1 para que se muestre cuando se hace hover en el contenedor */
      }


    